<h1>New Post</h1>
<%= form_tag '/posts', method: :post do %>
  <div>
  <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div class="form-group">
    <%= label_tag :title %>
    <%= text_field_tag :title, "", placeholder: "Blog post Title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :text %>
    <%= text_field_tag :text, "", placeholder: "Blog Post Contents", class: "form-control" %>
  </div>
  <div>
    <%= submit_tag "Create Blog Post!" %>
  </div>
<% end %>